mixin logo(currentPageTitle, className)
    mixin wrapLogo(currentPageTitle)
        if (currentPageTitle == 'Главная страница')
            div.logo(class=`${className}__logo`)
                block
        else
            a(href="/main.html" class=`${className}__logo`).logo
                block
    +wrapLogo(currentPageTitle)
        img(src="./template/images/logo.png" alt="" title="")
//добавленные миксины
mixin edit_link
    button('@click'='edit', '@mouseover'='onMouseOver', '@mouseout'='onMouseOut').edit-link изменить
mixin save_link
    button('@click'='save').save-link сохранить
mixin delete_link
    button.delete-link('@click'='remove(address)') удалить