extends ./modules/layout/layout

block vars
    -var currentPageTitle = ['Мои настройки']

block block-content
    .wrapper.settings
        .main#app
            h1.title-1.form__title Мои настройки
            .main__section
                h2.title-2.form__subtitle Личные данные
                ul.main__list.personal-info_list
                    -
                        var personalInfo = [{
                            id: 'personal-info-name',
                            label: 'Имя',
                            mask: '\'\''
                        }, {
                            id: 'personal-info-surname',
                            label: 'Фамилия',
                            mask: '\'\''
                        }, {
                            id: 'personal-info-patronymic',
                            label: 'Отчество',
                            mask: '\'\''
                        }, {
                            id: 'personal-info-birthday',
                            label: 'Дата рождения',
                            mask: '\'##.##.####\''
                        }]
                    each item in personalInfo
                        li(is= item.id)
                            script(type='text/x-template', id= item.id)
                                li(':style'='{ \'background-color\': backgroundColor, \'padding\': isEdit ? \'10px\' : \'20px\'}', ':class'='{ \'color\': value && value.length }').main__item
                                    template(v-if="!isEdit") {{ value || '#{item.label}' }}
                                        +edit_link
                                    template(v-else)
                                        input(v-model='value', type='text', placeholder= item.label, name= item.id, v-mask= item.mask).form__input
                                        +save_link
            .main__section
                h2.title-2.form__subtitle Контактные данные
                ul.main__list.contacts_list
                    -
                        var contacts = [{
                            id: 'contacts-phone',
                            label: '+7 (___)-___-___',
                            mask: '\'+7 (###)-###-####\''
                        }, {
                            id: 'contacts-email',
                            label: 'example@gmail.com',
                            mask: '\'\''
                        }, {
                            id: 'contacts-password',
                            label: 'Пароль [✴✴✴✴✴✴✴✴]',
                            mask: '\'\''
                        }]
                    each item in contacts
                        li(is= item.id)
                            script(type='text/x-template', id= item.id)
                                li(':style'='{ \'background-color\': backgroundColor, \'padding\': isEdit ? \'10px\' : \'20px\'}', ':class'='{ \'color\': value && value.length }').main__item
                                    template(v-if="!isEdit") {{ value || '#{item.label}' }}
                                        +edit_link
                                    template(v-else)
                                        input(v-model='value', type='text', placeholder= item.label, name= item.id, v-mask= item.mask).form__input
                                        +save_link
            .main__section
                h2.title-2.form__subtitle Адресная книга
                div(is='address-component')
                    script(type='text/x-template', id='address')
                        div(
                        ':style'='{ \'background-color\': backgroundColor }',
                        ':class'='{ \'address-edit\': isEdit }').address
                            template(v-if='!isEdit')
                                .address__title Текущий адрес доставки
                                    +edit_link
                                label.address__label
                                    input(
                                    type='radio',
                                    name='saved-address',
                                    value='0',
                                    checked,
                                    disabled).address__radio
                                    span.address__radio-fake
                                    span.address__text 432 071 Россия, г. Троицк, ул. Ленина д.34, кв.54
                                label.address__label
                                    input(
                                    type='radio',
                                    name='saved-address',
                                    value='1',
                                    disabled).address__radio
                                    span.address__radio-fake
                                    span.address__text 445 086 Россия, г.Керчь, ул. Первого Интернационала д.14, кв.6
                                input(
                                type='button',
                                name='add_address',
                                value='Добавить ещё один адрес',
                                disabled).address-edit__button
                            template(v-else)
                                .address__block
                                    .address__title Текущий адрес доставки
                                    div(v-for='address in addressList').address__row
                                        .address__inputs
                                            label
                                                input(
                                                type='radio',
                                                name='user-address',
                                                ':checked'='address.checked',
                                                ':value'='address.fullAddress').address__radio
                                                span.address__radio-fake
                                            input(
                                            type='text',
                                            name='address_one',
                                            v-model='address.fullAddress').address__input
                                        +delete_link
                                .address__block
                                    .address__title.address-edit__title Добавить адрес
                                    .address-edit__row
                                        input(
                                        type='number',
                                        min="0",
                                        placeholder='Индекс').address-edit__input
                                        select.address-edit__select
                                            option(disabled, selected) Страна
                                            option(value='Россия') Россия
                                            option(value='Украина') Украина
                                            option(value='Эстония') Эстония
                                        select.address-edit__select
                                            option(disabled, selected) Город
                                            option(value='Санкт-Петербург') Санкт-Петербург
                                            option(value='Москва') Москва
                                            option(value='Киев') Киев
                                            option(value='Таллин') Таллин
                                    .address-edit__row
                                        input(
                                        type='text',
                                        placeholder='Адрес').address-edit__input
                                    input(type='button', value='Добавить адрес').address-edit__button
                h2.title-2.form__subtitle Подписки и уведомления
                .main__subscription
                    label(for='subscription_email').subscription__label
                        input(
                        id='subscription_email',
                        type='checkbox',
                        name='offer-email',
                        checked).subscription__checkbox
                        span.subscription__checkbox-fake
                        span.subscription__text Оповещать меня о текущих акциях по e-mail
                .main__subscription
                    label(for='subscription_sms').subscription__label
                        input(
                        id='subscription_sms',
                        type='checkbox',
                        name='offer-sms',
                        checked).subscription__checkbox
                        span.subscription__checkbox-fake
                        span.subscription__text Оповещать меня о текущих акциях по Sms
        aside.socials
            h2.title-2.socials__title Социальные сети
            p.socials__text Привяжите учетную запись социальной сети и используйте ее для входа
            ul.socials__list
                -
                    var socials = [
                    {
                    icon: './template/images/icons.svg#icon-facebook',
                    className: 'socials__item--fb',
                    text: 'Facebook',
                    title: 'Facebook',
                    href: '#'
                    },
                    {
                    icon: './template/images/icons.svg#icon-vk',
                    className: 'socials__item--vk',
                    text: 'ВКонтакте',
                    title: 'Вконтакте',
                    href: '#'
                    },
                    {
                    icon: './template/images/icons.svg#icon-twitter',
                    className: 'socials__item--tw',
                    text: 'Twitter',
                    title: 'Twitter',
                    href: '#'
                    },
                    {
                    icon: './template/images/icons.svg#icon-odnoklassniki',
                    className: 'socials__item--odn',
                    text: 'Одноклассники',
                    title: 'Одноклассники',
                    href: '#'
                    }
                    ]
                for s in socials
                    li(class=s.className).socials__item
                        svg.socials__svg
                            use(xlink:href= s.icon)
                        a(
                        href=s.href,
                        title=s.title).socials__link #{s.text}