extends ./modules/layout/layout

block vars
    -var currentPageTitle = ['Мои настройки']

block block-content
    .wrapper.settings
        .main.form-wrapper
            form(action='#').form
                h1.title-1.form__title Мои настройки
                .form__section
                    h2.title-2.form__subtitle Личные данные
                    .form__item
                        input(
                        type='text',
                        placeholder='Имя',
                        name='user-name',
                        id='name').form__input
                        +save_link
                    .form__item
                        input(
                        type='text',
                        placeholder='Фамилия',
                        name='user-surname',
                        id='surname').form__input
                        +save_link
                    .form__item
                        input(
                        type='text',
                        placeholder='Отчество',
                        name='user-patronimic',
                        id='patronimic').form__input
                        +save_link
                    .form__item
                        input(
                        type='text',
                        placeholder='дд.мм.гггг',
                        name='user-date-of-birth',
                        id='date-of-birth').form__input
                        +save_link
                .form__section
                    h2.title-2.form__subtitle Контактные данные
                    .form__item
                        input(
                        type='tel',
                        placeholder='+7 (___)-__-__',
                        name='user-tel',
                        id='tel-number').form__input
                        +save_link
                    .form__item
                        input(
                        type='email',
                        placeholder='dmitriy_loginov@gmail.com',
                        name='user-email',
                        id='email').form__input
                        +save_link
                    .form__item
                        input(
                        type='password',
                        placeholder='Пароль [✴✴✴✴✴✴✴✴]',
                        name='user-password',
                        id='password').form__input
                        +save_link
                .form__section
                    h2.title-2.form__subtitle Адресная книга
                    .address.address-edit
                        .address__block
                            .address__title Текущий адрес доставки
                            .address__row
                                .address__inputs
                                    input(
                                    type='radio',
                                    name='user-address',
                                    checked).address__radio
                                    span.address__radio-fake
                                    input(
                                    type='text',
                                    name='address_one',
                                    value='432 071 Россия, г. Троицк, ул. Ленина д.34, кв.54').address__input
                                +delete_link
                            .address__row
                                .address__inputs
                                    input(
                                    type='radio',
                                    name='user-address').address__radio
                                    span.address__radio-fake
                                    input(
                                    type='text',
                                    name='address_two',
                                    value='445 086 Россия, г.Керчь, ул. Первого Интернационала д.14, кв.6').address__input
                                +delete_link
                        .address__block
                            .address__title.address-edit__title Добавить адрес
                            .address-edit__row
                                input(
                                type='number',
                                placeholder='Индекс').address-edit__input
                                select.address-edit__select
                                    option(disabled, selected) Страна
                                    option(value='Россия') Россия
                                    option(value='Украина') Украина
                                    option(value='Эстония') Эстония
                                select.address-edit__select
                                    option(disabled, selected) Город
                                    option(value='Санкт-Петербург') Санкт-Петербург
                                    option(value='Москва') Москва
                                    option(value='Киев') Киев
                                    option(value='Таллин') Таллин
                            .address-edit__row
                                input(
                                type='text',
                                placeholder='Адрес').address-edit__input
                            input(type='button', value='Добавить адрес').address-edit__button
