/*Open Sans bold*/
@font-face {
  font-family: 'open sans';
  src: url('styles/fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
          url('styles/fonts/open-sans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/*Verdana Regular*/
@font-face {
  font-family: verdana;
  src: url('styles/fonts/verdana/Verdana.woff2') format('woff2'),
          url('styles/fonts/verdana/Verdana.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}