.main
  width 65%
  padding-right 20px
  +below(768px)
    width: 90%
  +below(480px)
    padding-right 0
  &__list
    list-style none
    margin 0
    padding 0
  &__item
    display flex
    justify-content space-between
    padding 20px
    border-width 1px 1px 0 1px
    border-style solid
    border-color #d5d5d5
    font-size 14px
    color: #aaa
    transition .3s
    &:last-of-type
      border-bottom-width 1px
  &__subscription
    margin-bottom 15px