.color
  color #333!important
.settings
  display flex
  padding 22px 17px 75px 21px
  background-color: #fff
  color #333
  font-family Verdana
  +below(768px)
    flex-direction column
    align-items center
  +below(480px)
    padding 0 10px

.form__title
  font-family 'open sans'
  font-weight 700
  font-size 24px
  text-transform uppercase

.form__subtitle
  font-size 18px
  font-weight 400

.socials
  width 35%
  padding 30px 20px 35px
  margin-top 56px
  align-self baseline
  background-color #fff6e0
  +below(768px)
    width: 90%
  +below(480px)
    align-self center
  &__title
    font-family 'Open Sans'
    font-size 14px
    text-transform uppercase
  &__text
    font-size 12px
  &__list
    list-style none
    margin 0
    padding 0
    +below(768px)
      display flex
      flex-wrap wrap
      justify-content space-between
    +below(480px)
      flex-direction column
      align-items center
  &__item
    padding 15px
    margin-bottom 15px
    display flex
    align-items center
    cursor pointer
    +below(768px)
      width 40%
      &:nth-of-type(n+3)
        margin-bottom 0
    +below(480px)
      width 90%
      &:not(:last-of-type)
        margin-bottom 15px
    &:last-child
      margin-bottom 0
    &--fb
      background-color #1d59a3
      transition .3s
      &:hover
        background-color darken(#1d59a3, 10%)
    &--vk
      background-color #1c608d
      transition .3s
      &:hover
        background-color darken(#1c608d, 10%)
    &--tw
      background-color #00b2e6
      transition .3s
      &:hover
        background-color darken(#00b2e6, 10%)
    &--odn
      background-color #ef7800
      transition .3s
      &:hover
        background-color darken(#ef7800, 10%)
  &__link
    color: #fff
    &:hover
      color #fff
  &__svg
    width 26px
    height 19px
    margin-right 19px
    fill #fff

.address
  padding 20px 20px 38px
  border 1px solid #d5d5d5
  &__title
    display flex
    justify-content space-between
    margin-bottom 26px
  &__label
    display flex
    align-items center
    font-size 12px
    margin-bottom 16px
  &-edit__button[disabled]
    padding 10px 19px
    margin-top 16px
    color #fff
    font-size 12px
    background-color #cdc9c7
    border none
  &__radio
    position absolute
    left -99999px
    &-fake
      position: relative
      display inline-flex
      width 18px
      height 18px
      margin-right 10px
      border-radius 50%
      border 1px solid #d5d5d5
      background-color #fff
      &:after
        content ''
        width 0
        height 0
        display: block
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        border-radius 50%
        background-color #333

.address__radio:checked + .address__radio-fake:after
  width 9px
  height 9px

.subscription
  &__label
    display flex
    align-items center
  &__checkbox
    position absolute
    left -99999px
    &-fake
      width 18px
      height 18px
      position relative
      margin-right 10px
      border 1px solid #d5d5d5
      background-color #fff
      &:after
        content ''
        width 0
        height 0
        display: block
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
.subscription__checkbox:checked + .subscription__checkbox-fake:after
  width 13px
  height 10px
  background-image url("./images/check.svg")
  background-repeat no-repeat
  background-size contain

.edit-link
  background-color transparent
  border none
  text-decoration underline
  color: #aaa
  transition color .3s
  cursor pointer
  +below(480px)
    font-size 12px
  &:hover
    color #e85a22

.save-link,
.delete-link
  background-color transparent
  border none
  text-decoration underline
  color #e85a22
  cursor pointer
  +below(480px)
    font-size 12px
.delete-link
  text-align right
  cursor pointer
