.form
  &__item
    display flex
    justify-content space-between
    border-width 1px 1px 0 1px
    border-style solid
    border-color #d5d5d5
    font-size 14px
    color: #aaa
    transition .3s
    align-items center
    padding 10px 20px 10px 10px
    margin-bottom 0
    background-color #f4f4f4
  &__input
    border 1px solid #d5d5d5
    background-color #fff
    padding 12px 10px
    width 50%
    border-radius 0
    color #4f4f4f
::placeholder
  font-family Verdana
  color #aaa

.address
  &__block
    display flex
    flex-direction column
    padding 19px 19px 14px
    &:first-of-type
      border-bottom 1px solid #d5d5d5
  &__row
    display flex
    justify-content space-between
    align-items center
  &-edit
    background-color #f4f4f4
    padding 0
    &__row
      @extends .address__row
      align-items stretch
      font-size 12px
      +below(480px)
        flex-direction column
      &:last-of-type
        margin-top 10px
        margin-bottom 20px
    &__title
      margin 0 19px 19px 19px
      text-transform uppercase
      font-family "Open Sans"
      font-weight 700
    &__input
      @extends .form__input
      padding 10px 11px 8px
      margin-right 21px
      +below(480px)
        width 100%
        margin 0
      &:last-child
        width 100%
        margin-right 0
    &__select
      @extends .form__input
      padding 10px 11px 8px
      +below(480px)
        width 100%
        margin 0
      &:first-of-type
        margin-right 21px
    &__button
      padding 10px 50px
      margin-bottom 16px
      align-self flex-end
      border 0
      border-bottom 2px solid #cb4815
      background-color #e85a22
      color #fff
      font-family Verdana
      font-size 12px
      transition .3s
      +below(480px)
        margin-top 15px
        align-self center
      &:hover:not([disabled])
        background-color darken(#e85a22, 10%)
  &__inputs
    width 85%
  &__input
    @extends .form__input
    width 90%

.delete-link
  text-align right