.socials
  width 35%
  padding 30px 20px 35px
  margin-top 56px
  align-self baseline
  background-color #fff6e0
  +below(768px)
    width: 90%
  +below(480px)
    align-self center
  &__title
    font-family 'Open Sans'
    font-size 14px
    text-transform uppercase
  &__text
    font-size 12px
  &__list
    list-style none
    margin 0
    padding 0
    +below(768px)
      display flex
      flex-wrap wrap
      justify-content space-between
    +below(480px)
      flex-direction column
      align-items center
  &__item
    padding 15px
    margin-bottom 15px
    display flex
    align-items center
    cursor pointer
    +below(768px)
      width 40%
      &:nth-of-type(n+3)
        margin-bottom 0
    +below(480px)
      width 90%
      &:not(:last-of-type)
        margin-bottom 15px
    &:last-child
      margin-bottom 0
    &--fb
      background-color #1d59a3
      transition .3s
      &:hover
        background-color darken(#1d59a3, 10%)
    &--vk
      background-color #1c608d
      transition .3s
      &:hover
        background-color darken(#1c608d, 10%)
    &--tw
      background-color #00b2e6
      transition .3s
      &:hover
        background-color darken(#00b2e6, 10%)
    &--odn
      background-color #ef7800
      transition .3s
      &:hover
        background-color darken(#ef7800, 10%)
  &__link
    color: #fff
    &:hover
      color #fff
  &__svg
    width 26px
    height 19px
    margin-right 19px
    fill #fff