.subscription
  &__label
    display flex
    align-items center
  &__checkbox
    position absolute
    left -99999px
    &-fake
      width 18px
      height 18px
      position relative
      margin-right 10px
      border 1px solid #d5d5d5
      background-color #fff
      &:after
        content ''
        width 0
        height 0
        display: block
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
.subscription__checkbox:checked + .subscription__checkbox-fake:after
  width 13px
  height 10px
  background-image url("./images/check.svg")
  background-repeat no-repeat
  background-size contain