block vars
include ../../__config/variables
include ../../__config/mixins

doctype html
html(lang="ru")
    include head
    body
        main
            block block-content

            // [ START ] Скрипты библиотек
            -if (scriptsLibs)
                -for(var i = 0 ; i < scriptsLibs.length; i++)
                    -if (scriptsLibs[i] == 'libs/html5shiv/dist/html5shiv.min.js' || scriptsLibs[i] == 'libs/css3-mediaqueries-js/css3-mediaqueries.js') continue;
                        script(src=`${STATIC_DIR}${scriptsLibs[i]}`)
            // [END] Скрипты библиотек

            // [ START ] Скрипты проекта
            -if (scriptsProject)
                -for(var j = 0 ; j < scriptsProject.length; j++)
                    script(src=`${SCRIPTS_DIR}${scriptsProject[j]}`)

            -if (scriptsModules)
                -for(var k = 0 ; k < scriptsModules.length; k++)
                    script(src=`${SCRIPTS_DIR}${scriptsModules[k]}`)
            // [END] Скрипты проекта

            // [START] IE8 polyfills
            | <!--[if lt IE 9]><script src="#{ LIBS_DIR }html5shiv/dist/html5shiv.min.js"></script><![endif]-->
            | <!--[if lt IE 9]><script src="#{ LIBS_DIR }css3-mediaqueries-js/css3-mediaqueries.js"></script><![endif]-->
            // [END] IE8 polyfills